body, html {
	width: 100%;
	height: 100%;
}
section {
  margin-top: 20px;
  width: 1240px;
  margin: 20px auto;
}
section h1 {
  width: 200px;
  line-height: 30px;
  margin-left: 200px;
  font-size: 22px;
  font-weight: bold;
}
.sec-frist {
  width: 1240px;
  height: 200px;
  /*background: red;*/
  margin-top: 10px;
  overflow: hidden;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}
.sec-second {
  width: 1240px;
  height: 200px;
  overflow: hidden;
  border-bottom: 2px solid red;
}
.Management {
  width: 200px;
  line-height: 30px;
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
  float: left;
}
#addUserAddress {
  cursor: pointer;
  float: right;
  width: 200px;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
}
#addUserAddress:hover {
  background: black;
  color: white;
}
.layer {
  display: none;
  background: rgba(0, 0, 0, 0.3);
  width: 1240px;
  height: 600px;
  position: absolute;
  top: 30px;
}
.dialog {
  width: 600px;
  height: 580px;
  margin: 10px auto;
  border: 1px solid gray;
  text-align: center;
  background: #fff;
  position: relative;
}
.dialog .dialog-i {
  display: inline-block;
  width: 90px;
  line-height: 30px;
  text-align: center;
  margin: 3px 0;
}
.dialog h2 {
  line-height: 30px;
  text-align: left;
  border-bottom: 1px solid gray;
  color: red;
  margin-left: 10px;
  font-size: 16px;
}
.dialog h2 span {
  display: inline-block;
  float: right;
  padding: 0px 10px;
  background: orange;
  cursor: pointer;
}
.add {
  display: inline-block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}
.add:hover {
  background: orange;
  color: #fff;
}
.payment {
  width: 500px;
  height: 80px;
  margin-left: 60px;
  margin-top: 60px;
}
.payment span {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: 1px solid gray;
  text-align: center;
  cursor: pointer;
  margin: 10px 20px;
}
.payment span:hover {
  background: black;
  color: white;
}
.order {
  width: 200px;
  line-height: 40px;
  background: red;
  float: right;
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.address {
  width: 700px;
  height: 100px;
  margin-left: 240px;
  text-align: left;
  margin-top: 50px;
  overflow: hidden;
  border-bottom: 1px solid gray;
}
.address-item {
  line-height: 30px;
  font-size: 16px;
  border-top: 1px solid gray;
}
#total {
  margin-left: 90px;
  width: 150px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}
.fl {
  float: left;
  margin-top: 10px;
}
